<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
              <h3 class="text-muted">Progress Bar</h3>
              <div class="progress">
                <div
                  class="progress-bar bg-info progress-bar-striped active"
                  role="progressbar"
                  [style.width]="getPercentProgress(progress1)"
                  style="height:10px;">
                    <span class="sr-only">{{getPercentProgress(progress1)}} Complete</span>
                </div>
              </div>
            </div>
            <div class="card-body">
              <div class="progress">
                <div
                  class="progress-bar bg-danger progress-bar-striped active"
                  role="progressbar"
                  [style.width]="getPercentProgress(progress2)"
                  style="height:10px;">
                    <span class="sr-only">{{getPercentProgress(progress2)}} Complete</span>
                </div>
              </div>

            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">

              <app-incrementer [btnClass]="'btn-info'" (changePercent)="progress1 = $event" [progress]="progress1"></app-incrementer>

            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-body">

              <app-incrementer [btnClass]="'btn-danger'" (changePercent)="progress2 = $event" [progress]="progress2"></app-incrementer>

            </div>
        </div>
    </div>
</div>
