<!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <aside class="left-sidebar">
          <!-- Sidebar scroll-->
          <div class="scroll-sidebar">
              <!-- Sidebar navigation-->
              <nav class="sidebar-nav">
                  <ul id="sidebarnav">
                      <li class="user-profile main-menu">
                          <a class="has-arrow waves-effect waves-dark"><img src="./assets/images/users/profile.png" alt="user" /><span class="hide-menu">Steave Jobs </span></a>
                          <ul class="collapse">
                              <li><a>My Profile </a></li>
                              <li><a>My Balance</a></li>
                              <li><a>Inbox</a></li>
                              <li><a>Account Setting</a></li>
                              <li><a>Logout</a></li>
                          </ul>
                      </li>
                      <li class="nav-devider"></li>
                      <li class="nav-small-cap">PERSONAL</li>
                      <li class="nav-item"> <a class="has-arrow waves-effect waves-dark"><i class="mdi mdi-gauge"></i><span class="hide-menu">Dashboard</span></a>
                          <ul class="collapse">
                              <li><a>Minimal </a></li>
                              <li><a>Analytical</a></li>
                              <li><a>Demographical</a></li>
                              <li><a>Modern</a></li>
                          </ul>
                      </li>
                      <li class="nav-item"> <a class="has-arrow waves-effect waves-dark"><i class="mdi mdi-bullseye"></i><span class="hide-menu">Apps</span></a>
                          <ul class="collapse">
                              <li><a>Calendar</a></li>
                              <li><a>Chat app</a></li>
                              <li><a>Support Ticket</a></li>
                              <li><a>Contact / Employee</a></li>
                              <li><a>Contact Grid</a></li>
                              <li><a>Contact Detail</a></li>
                          </ul>
                      </li>
                      <li class="nav-item"> <a class="has-arrow waves-effect waves-dark"><i class="mdi mdi-email"></i><span class="hide-menu">Inbox</span></a>
                          <ul class="collapse">
                              <li><a >Mailbox</a></li>
                              <li><a >Mailbox Detail</a></li>
                              <li><a >Compose Mail</a></li>
                          </ul>
                      </li>
                      <li class="nav-item"> <a class="has-arrow waves-effect waves-dark"><i class="mdi mdi-chart-bubble"></i><span class="hide-menu">Ui Elements</span></a>
                          <ul class="collapse">
                              <li><a>Cards</a></li>
                              <li><a>User Cards</a></li>
                              <li><a>Buttons</a></li>
                              <li><a>Modals</a></li>
                              <li><a>Tab</a></li>
                              <li><a>Tooltip &amp; Popover</a></li>
                              <li><a>Tooltip stylish</a></li>
                              <li><a>Sweet Alert</a></li>
                              <li><a>Notification</a></li>
                              <li><a>Progressbar</a></li>
                              <li><a>Nestable</a></li>
                              <li><a>Range slider</a></li>
                              <li><a>Timeline</a></li>
                              <li><a>Typography</a></li>
                              <li><a>Horizontal Timeline</a></li>
                              <li><a>Session Timeout</a></li>
                              <li><a>Session Ideal Timeout</a></li>
                              <li><a>Bootstrap Ui</a></li>
                              <li><a>Breadcrumb</a></li>
                              <li><a>Bootstrap Switch</a></li>
                              <li><a>List Media</a></li>
                              <li><a>Ribbons</a></li>
                              <li><a>Grid</a></li>
                              <li><a>Carousel</a></li>
                              <li><a>Date-paginator</a></li>
                              <li><a>Dragable Portlet</a></li>
                          </ul>
                      </li>
                      <li class="nav-small-cap">FORMS, TABLE &amp; WIDGETS</li>
                      <li class="nav-item"> <a class="has-arrow waves-effect waves-dark"><i class="mdi mdi-file"></i><span class="hide-menu">Forms</span></a>
                          <ul class="collapse">
                              <li><a>Basic Forms</a></li>
                              <li><a>Form Layouts</a></li>
                              <li><a>Form Addons</a></li>
                              <li><a>Form Material</a></li>
                              <li><a>Floating Lable</a></li>
                          </ul>
                      </li>
                      <li class="nav-item"> <a class="has-arrow waves-effect waves-dark"><i class="mdi mdi-table"></i><span class="hide-menu">Tables</span></a>
                          <ul class="collapse">
                              <li><a>Basic Tables</a></li>
                              <li><a>Table Layouts</a></li>
                              <li><a>Data Tables</a></li>
                              <li><a>Footable</a></li>
                              <li><a>Js Grid Table</a></li>
                              <li><a>Responsive Table</a></li>
                              <li><a>Bootstrap Tables</a></li>
                              <li><a>Editable Table</a></li>
                          </ul>
                      </li>
                      <li class="nav-item"> <a class="has-arrow waves-effect waves-dark"><i class="mdi mdi-widgets"></i><span class="hide-menu">Widgets</span></a>
                          <ul class="collapse">
                              <li><a href="/dashboard/data">Data Widgets</a></li>
                              <li><a href="/dashboard/widget-apps">Apps Widgets</a></li>
                              <li><a href="/dashboard/widget">Charts Widgets</a></li>

                          </ul>
                      </li>
                      <li class="nav-item"> <a class="has-arrow waves-effect waves-dark"><i class="mdi mdi-book-open-variant"></i><span class="hide-menu">Sample Pages</span></a>
                          <ul class="collapse">
                              <li><a class="has-arrow">Authentication <span class="label label-rounded label-success pull-right">6</span></a>
                                  <ul class="collapse">
                                      <li><a href="auth/log-in">Login 1</a></li>
                                      <li><a href="auth/sing-up">Register</a></li>
                                      <li><a href="auth/recover">Recover password</a></li>
                                  </ul>
                              </li>
                              <li><a href="/dashboard/profile">Profile page</a></li>
                              <li><a href="">Animation</a></li>
                              <li><a href="">Sticky Left sidebar</a></li>
                              <li><a href="">Right sidebar</a></li>
                              <li><a href="">Invoice</a></li>
                              <li><a href="">Treeview</a></li>
                              <li><a href="">Helper Classes</a></li>
                              <li><a href="">Search result</a></li>
                              <li><a href="">Scrollbar</a></li>
                              <li><a href="">Pricing</a></li>
                              <li><a href="">Lighbox popup</a></li>
                              <li><a href="">Gallery</a></li>
                              <li><a href="">Faqs</a></li>
                              <li><a class="has-arrow">Error Pages</a>
                                  <ul class="collapse">
                                      <li><a href="**">400</a></li>
                                  </ul>
                              </li>
                          </ul>
                      </li>
                      <li class="nav-item"> <a class="has-arrow waves-effect waves-dark"><i class="mdi mdi-file-chart"></i><span class="hide-menu">Charts</span></a>
                          <ul class="collapse">
                              <li><a href="/dashboard/donut-charts">Donut Charts</a></li>
                              <li><a href="/dashboard/line-charts">Line Charts</a></li>
                              <li><a href="/dashboard/bar-charts">Bar Charts</a></li>
                          </ul>
                      </li>
                      <li class="nav-item"> <a class="has-arrow waves-effect waves-dark"><i class="mdi mdi-brush"></i><span class="hide-menu">Icons</span></a>
                          <ul class="collapse">
                              <li><a href="/dashboar/icon-material">Material Icons</a></li>
                              <li><a href="/dashboar/icon-fontawesome">Fontawesome Icons</a></li>
                              <li><a href="/dashboar/icon-themify">Themify Icons</a></li>
                              <li><a href="/dashboar/icon-linea">Linea Icons</a></li>
                              <li><a href="/dashboar/icon-weather">Weather Icons</a></li>
                              <li><a href="/dashboar/icon-simple-lineicons">Simple Lineicons</a></li>
                              <li><a href="/dashboar/icon-flag">Flag Icons</a></li>
                          </ul>
                      </li>
                      <li class="nav-item"> <a class="has-arrow waves-effect waves-dark"><i class="mdi mdi-map-marker"></i><span class="hide-menu">Maps</span></a>
                          <ul class="collapse">
                              <li><a href="/dashboard/map-google">Google Maps</a></li>
                              <li><a href="/dashboard/map-vector">Vector Maps</a></li>
                          </ul>
                      </li>
                  </ul>
              </nav>
              <!-- End Sidebar navigation -->
          </div>
          <!-- End Sidebar scroll-->
      </aside>
      <!-- ============================================================== -->
      <!-- End Left Sidebar - style you can find in sidebar.scss  -->
      <!-- ============================================================== -->
